%marginDefault {
    margin: 4vh auto;
}

%sharedposition {
    margin: 4vh auto;
    position: absolute;
    width: 100vw;
}

%mainWidth {
    width: 100vw;
}

%sharedtext {
    position: absolute;
    color: white;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}